@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
   box-sizing: content-box;
   margin: 0;
   padding: 0;
}

body {
   background-color: #243A65;
}

.title {
   text-align: center;
   color: #fff;
   font-family: Victor Mono;
   font-size: 40px;
}

p {
   font-size: 30px;
   color: #fff;
   margin: 50px;
}

.juego {
   display: flex;
   justify-content: center;
   align-items: center;
}

.botones__juego {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column-reverse;
   width: 500px;
   height: 500px;
   background-color: blueviolet;
   margin: 10px;
}

.img-juego,
.img-machine {
   width: 300px;
   height: 300px;
}

select {
   margin-top: 20px;
   padding: 10px;
   border-radius: 20px;
   border: none;
   cursor: pointer;
}

select:focus {
   outline: 0;
}

.vs {
   color: #fff;
   font-size: 40px;
   font-weight: 700;
}

.machine__juego {
   width: 500px;
   height: 500px;
   background-color: blueviolet;
   margin: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.btn__container {
   display: flex;
   justify-content: center;
}

button {
   margin: 10px;
   padding: 30px;
   border-radius: 15px;
   border: none;
   width: 50px;
   font-size: 20px;
   cursor: pointer;
}

.jugador {
   font-size: 30px;
}

.machine__juego h3 {
   margin-bottom: 30px;
}

/*! Modal */
.modal {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: #111111bd;
   display: flex;
   opacity: 0;
   pointer-events: none;
   transition: opacity .6s;
   --transform: translateY(-100vh);
   --transition : transform .8s;
}

.modal--show {
   opacity: 1;
   pointer-events: unset;
   transition: opacity .6s;
   --transform: translateY(0);
}

.modal__container {
   background-color: #fff;
   margin: auto;
   width: 90%;
   max-width: 600px;
   max-height: 90%;
   border-radius: 6px;
   padding: 3em 2.5em;
   display: grid;
   gap: 1em;
   place-items: center;
   grid-auto-columns: 100%;
   transform: var(--transform);
   transition: var(--transition);
}

.modal__resultado {
   font-size: 2.5rem;
}

.modal__close {
   text-decoration: none;
   color: white;
   background-color: #F26250;
   padding: 1em 3em;
   border: 1px solid;
   border-radius: 6px;
   display: inline-block;
   font-weight: 300;
   transition: background-color .3s;
}

.modal__close:hover {
   color: #F26250;
   background-color: #fff;
}